.hero{
    margin-top: 100px;
    width: 100%;
    display: flex;
    .hero-img{
        width: 60%;
        img{
            width: 100%;
        }
    }
    .hero-info{
        width: 40%;
        padding-left: 60px;
        // background-color: aliceblue;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .illustration{
            font-size: 16px;
            color: #999999;
        }
        h1{
            font-size: 50px;
            font-weight: 100;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .enim{
            font-size: 20px;
            color: #666666;
        }
        h3{
            font-size: 16px;
            font-weight: 800;
            letter-spacing: 2px;
        }
    }
}

@media (max-width:1500px){
    .hero{
        margin-top: 100px;
        width: 100%;
        .hero-img{
            width: 60%;
            img{
                width: 100%;
            }
        }
        .hero-info{
            width: 40%;
            padding-left: 60px;
            gap: 20px;
            .illustration{
                font-size: 16px;
            }
            h1{
                font-size: 36px;
            }
            .enim{
                font-size: 20px;
            }
            h3{
                font-size: 16px;
                font-weight: 800;
                letter-spacing: 2px;
            }
        }
    }
}
@media (max-width:1180px){
    .hero{
        margin-top: 100px;
        width: 100%;
        .hero-img{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .hero-info{
            width: 50%;
            padding-left: 20px;
            gap: 5px;
            .illustration{
                font-size: 14px;
            }
            h1{
                font-size: 22px;
                line-height: 30px;
            }
            .enim{
                font-size: 12px;
            }
            h3{
                font-size: 10px;
                font-weight: 800;
                letter-spacing: 2px;
            }
        }
    }
}
@media (max-width:786px){
    .hero{
        margin-top: 30px;
        width: 100%;
        flex-direction: column;
        .hero-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .hero-info{
            // align-items: start;
            width: 100%;
            padding-left: 20px 0;
            padding-left: 0;
            gap: 5px;
            .illustration{
                font-size: 14px;
            }
            h1{
                font-size: 22px;
                line-height: 30px;
            }
            .enim{
                font-size: 12px;
            }
            h3{
                font-size: 10px;
                font-weight: 800;
                letter-spacing: 2px;
            }
        }
    }
}