*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.line{
    width: 100%;
    // outline: none;
    border: 1px solid lightgray;
    margin: 100px 0;
}

main{
    width: 100%;
    padding: 0 120px;
}


@media (max-width:786px){
    main{
        padding: 0 20px;
    }
}